<div class="col-5">
  <div class="card" style="padding:5px">
    <div class="card-block">
      <div class="row">
        <div class="col-9">
          <h4 class="card-title" (click)="onView()">{{ entry.title }}</h4>
        </div>
        <div class="col-1">
          <svg width="12" height="12" class="octicon" aria-hidden="true"><use xlink:href="/node_modules/octicons/build/sprite.octicons.svg#tag" /></svg>
        </div>
        <div class="col-2">
          <span class="badge badge-light float-right" *ngFor="let tag of entry.tags">{{ tag }}</span>
        </div>
      </div>
      <p class="card-text"> {{ entry.description }}</p>
    </div>
  </div>
</div>
