<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %c{1.} [%X{id}]  : %msg%n"/>
        </Console>
        <File name="SpringLog" fileName="${sys:catalina.home}/logs/spring.log" immediateFlush="true" append="true">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %c{1.} [%X{id}]  : %msg%n"/>
        </File>
        <File name="ApplicationLog" fileName="${sys:catalina.home}/logs/app.log" immediateFlush="true" append="true">
          <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %c{1.} [%X{id}]    : %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="org.springframework" level="trace" additivity="false">
            <AppenderRef ref="SpringLog" />
        </Logger>
        <Logger name="ch.nicosb.opensource.myknowledgebase.controller" level="info" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="ApplicationLog" />
        </Logger>
        <Logger name="ch.nicosb.opensource.myknowledgebase.interceptor" level="info" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="ApplicationLog" />
        </Logger>
        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>