<div class="col-12">
  <div class="card" *ngIf="entry" style="padding:8px">
    <div class="card-block">
      <div class="row">
        <div class="col-9">
          <h4 class="div">{{ entry.title }}</h4>
        </div>
        <div class="col-3 text-right">
          <svg width="12" height="12" class="octicon" aria-hidden="true"><use xlink:href="/node_modules/octicons/build/sprite.octicons.svg#tag" /></svg>
          <span style="margin-right:5px" class="badge badge-light" *ngFor="let tag of entry.tags">{{ tag }}</span>
        </div>
      </div>
      <div class="row" *ngIf="entry.description">
        <div class="col-12">
          <svg width="16" height="16" class="octicon" aria-hidden="true"><use xlink:href="/node_modules/octicons/build/sprite.octicons.svg#file" /></svg>
          <p class="card-text"> {{ entry.description }}</p>
        </div>
      </div>
      <br>
      <div class="row" *ngIf="entry.codeSnippet">
        <div class="col-1">
          <svg width="16" height="16" class="octicon" aria-hidden="true"><use xlink:href="/node_modules/octicons/build/sprite.octicons.svg#file-code" /></svg>
        </div>
      </div>
      <div class="row" *ngIf="entry.codeSnippet">
        <div class="col-12">
          <section [innerHTML]="wrapCodeSnippet()" highlight-js-content=".highlight"></section>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-10">
          <svg width="16" height="16" class="octicon" aria-hidden="true" *ngIf="entry.url"><use xlink:href="/node_modules/octicons/build/sprite.octicons.svg#link-external" /></svg>
          <a [href]="entry.url" *ngIf="entry.url">{{ entry.url | shortenUrl }}</a>
        </div>
        <div class="col-2 text-right">
          <button type="button" class="btn btn-outline-secondary btn-sm" (click)="onEdit()">Edit</button>
          <button type="button" class="btn btn-danger btn-sm" (click)="onDelete()">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <div class="alert alert-danger" role="alert" *ngIf="deleteFailed">
        Cannot delete this entry at the moment!
      </div>
    </div>
  </div>
</div>
