<div class="row">
  <div class="col-12">
    <form [formGroup]="searchForm" (ngSubmit)="onSearch()" class="form-inline">
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <div class="input-group-addon">title</div>
        <input type="text" class="form-control" id="title" formControlName="title" [value]="titleFilter">
      </div>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <div class="input-group-addon">tags</div>
        <input type="text" class="form-control" id="tags" formControlName="tags">
      </div>
      <button class="btn btn-primary" type="submit" (click)="onSearch()">Search</button>
    </form>
  </div>
</div>
